/* Стилизация кнопки */
html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

.button {
    font-size: 1rem;
    padding: 1rem 4rem;
    border-radius: 0.5rem;
    background-color: #4263EB;
    color: #FFFFFF;
    border: none;
    box-sizing: border-box;
}

.button_hover:hover {
    cursor: pointer;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    background: #2342C0;
}

.button_disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.button_secondary {
    background: #7048E8;
}

.button_hover-secondary:hover {
    background: #5028C6;
}

.button_alternate {
    border: 1px solid #ACB5BD;
    background: #FFFFFF;
    color: #495057;
}

.button_hover-alternate:hover {
    border: 1px solid #212429;
    background: #FFFFFF;
}
