.button {
    font-family: 'Roboto';
    font-size: 16px;
    color: #FFFFFF;
    padding: 15px 65px;
    line-height: 19px;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    height: 48px;
}

.button:hover {
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button_primary {
    background-color: #4263EB;
}

.button_primary:hover {
    background-color: #2342C0;
}