.button {
    font-family: 'Roboto';
    font-size: 16px;
    color: #FFFFFF;
    padding: 15px 65px;
    line-height: 19px;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    height: 48px;
}

.button:hover {
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button_primary {
    background-color: #4263EB;
}

.button_primary:hover {
    background-color: #2342C0;
}

.modal {
    display: none;
    z-index: 1;
    --bg-color: #C4C4C4;
    --text-bg-color: #FFFFFF;
    --title-color: #334D6E;
    --text-color: #495057;
    position: fixed;
    overflow: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal__text-content {
    padding: 30px 40px;
    border-radius: 8px;
    background-color: var(--text-bg-color);
    background-color: #fefefe;
}

.modal__close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.modal__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 14px;
    color: var(--title-color);
}

.modal__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
    width: 348px;
}