.checkbox {
    position: relative;
}

.checkbox__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    outline: none;
}

.checkbox__state {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.checkbox__control {
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #DDE2E5;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox__icon {
    display: none;
}

.checkbox__legend {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
}

.checkbox__input:checked~.checkbox__state .checkbox__control {
    background: #4263EB;
    border-color: #4263EB;
}

.checkbox__input:disabled~.checkbox__state .checkbox__control {
    background: #DDE2E5;
    border-radius: 4px;
}

.checkbox__input:focus~.checkbox__state .checkbox__legend {
    text-decoration: underline;
}

.checkbox__input:disabled~.checkbox__state .checkbox__legend {
    color: #DDE2E5;
}


.checkbox__input:checked~.checkbox__state .checkbox__icon {
    display: block;
}