.product {
    width: 350px;
    height: 367px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--black);
}

.product__title {
    text-align: center;
    align-self: flex-end;
    margin-bottom: 30px;
}