body {
    background-image: url('./public/forest_400.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    body {
        background-image: url('./public/forest_768.jpg');
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-image: url('./public/forest_1024.jpg');
    }
}

@media screen and (min-width: 2560px) {
    body {
        background-image: url('./public/forest_2560.jpg');
    }
}